.planets img{
    height: 300px;
    width: 300px;
    transition: 0.5s;
    padding: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body{
    background-image: url("https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80");
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
    font-family: "Space Grotesk" !important;
}
.planets img:hover{
    width: 350px;
    height: 350px;
    padding: 25px;
    transition: 0.5s;
}

h2{
    text-align: center;
    color: white;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

footer{
  background-color: black;
  color: white;
  padding: 25px;
  border-top: 5px solid #fff;
  text-align: center;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(111, 111, 111);
  border-radius: 20px;
}
body::-webkit-scrollbar-track {
  background: rgba(255, 166, 0, 0);
}

#planet-box{
  position: relative;
  display: flex;
  flex-direction: row;
  align-self: center;
  min-height: 400px;
  padding: 20px 20vw;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
}

.planets{
  padding-top: 100px;
}

h1{
  font-size: 50px;
  text-align: center;
  color: white;
}

@media screen and (max-width: 768px) {
  #planet-box{
    flex-direction: column;
    padding: 10px;
  }
  .planets img{
    height: 70%;
    width: 70%;
    transition: 0.5s;
    padding: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
}