<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Space Explorer</title>
    <link rel="stylesheet" href="/static/co.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/a7a37c0fce.js"
      crossorigin="anonymous"
    ></script>
    <style>
        h2{
            color: white;
        }
        h2 {
            margin-block-start: 100px;
            background-color: #0000008c;
            color: white;
            padding: 30px;
            border: 0px solid;
            border-radius: 20px;
            max-width: 80%;
            position: relative;
            display: inline-block;
            backdrop-filter: blur(5px);
            }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="mt-5 mb-5">
        Space Facts
      </h1>
      <br />      
      <section class="mb-5 mt-5">
            <h2 id="fact"></h2>
            <button class="section-button mt-5" id="generator" onclick="getFact()">
                Generate New Fact
              </button>
      </section>
    </div>

    <script>
        function getFact() {
            document.getElementById('generator').disabled = true;
            $.ajax({
                url: "/fact/api",
                type: "GET",
                success: function(data) {
                    $("#fact").html(data);
                    document.getElementById('generator').disabled = false;
                }
            });
        }
        getFact();
    </script>
    
    <footer class="mt-5">
      A Website By <a href="https://github.com/studiousgamer">Natya Vidhan Biswas</a>
    </footer>
  </body>
</html>
