<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Space Explorer</title>
    <link rel="stylesheet" href="/static/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/a7a37c0fce.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <h1>
        <i style="font-size: 35px; color: orange" class="fas fa-meteor"></i> SPACE
        EXPLORER
      </h1>
      <br />
      <!-- <div id="button_become_patreon" onclick="alert('Ez javascript callback')">Start
          <i_noanim class="fas fa-rocket"></i_noanim>
      </div> -->
  
      <div class="loader">
        <div class="sun"></div>
        <div class="orbit orbit1"><div class="planetX planet1"></div></div>
        <div class="orbit orbit2"><div class="planetX planet2"></div></div>
        <div class="orbit orbit3"><div class="planetX planet3"></div></div>
      </div>
  
      <p id="support_text" ; style="text-align: center">
        <wbg style="font-size: 25px"
          >A <b>Place</b> Dedicated To <b>Space</b></wbg
        >
        <br /><br />
        <b>Space Explorer</b> is a Web App Developed By Natya Vidhan Biswas For
        <b>Space</b> Explorers. <br />
        This Website is A Submission of ATl Space Challenge.
      </p>
      <!-- <h4 class="mb-5">Explore</h4> -->
      <section>
        <a href="/planets" style="text-decoration: none">
          <button class="section-button">
            <img
              src="https://img.icons8.com/color/48/000000/jupiter-planet.png"
            />
            &nbsp;Planets
          </button>
        </a>
        <a href="/solar-system" style="text-decoration: none">
          <button class="section-button">
            <img
              src="https://img.icons8.com/external-wanicon-lineal-color-wanicon/64/000000/external-solar-system-space-wanicon-lineal-color-wanicon.png"
              style="height: 50px"
            />
            &nbsp; Solar System
          </button>
        </a>
        <a href="/celestial-objects" style="text-decoration: none">
          <button class="section-button">
            <img
              src="https://img.icons8.com/external-wanicon-lineal-color-wanicon/64/000000/external-meteorite-space-wanicon-lineal-color-wanicon.png"
              style="height: 50px"
            />
            Celestial Objects
          </button>
        </a>
        <a href="/fact" style="text-decoration: none">
          <button class="section-button">
            <img src="https://img.icons8.com/flat-round/64/000000/question-mark.png" style="height: 50px"/>
             &nbsp; Facts
          </button>
        </a>
      </section>
    </div>
    
    <footer>
      A Website By <a href="https://github.com/studiousgamer">Natya Vidhan Biswas</a>
    </footer>
  </body>
</html>
