<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap"
      rel="stylesheet"
    />
    <title>Space Explorer</title>
</head>
<body>
    <h1 class="text-center mt-5">Planets</h1>
    <div class="planets">
        {% for planet in planets %}
            <h2>{{planet}}</h2>       
            <div class="{{planet}}" id="planet-box">
                <img src="/static/assets/planets/{{planet.lower()}}.png" alt="">
                <p>{{details[planet]['info']}}</p>     
            </div>
        {% endfor %}
    </div>
    
    <footer>
        A Website By <a href="https://github.com/studiousgamer">Natya Vidhan Biswas</a>
      </footer>
</body>
</html>